<form id="new-post" name="post">
<div class="date_at"><strong><%= date_at %></strong></div>
<input type="hidden" name="date_at" id="date_at" value=<%= date_at %> >
<textarea name="body" id="body" value="<%= body %>">
</textarea>

<input type="submit" value="Guarda" class="btn" />
</form>

