
div#viewport {
  position: fixed;
  left:0;right:0;bottom:0;
  top: 42px;
  overflow: auto;
}

div#page {
  width: 450px;
  margin: 10px auto;
}

textarea#post_body {
  height: 4em;
  width: 100%;
}

form div.input {margin-left: 0;}
